
<main>
    <div class="artwork-info">
        <h1><%= artwork.title %></h1>
        <h2><%= artwork.artist %></h2>
        <p><%= artwork.year %></p>
        <p><%= artwork.media %></p>
        <p><%= artwork.description %></p>
        
        <% if artwork.watchers.to_i > 1%>
            <p><%= artwork.watchers %> interested clients</p>
        <% end %>

        <% if is_watching.any? %>
            <form action="/watchers" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" name="artwork_id" value="<%= artwork.id %>">
                <button>Watching</button>
            </form>
        <% else %>
            <form action="/watchers" method="post">
                <input type="hidden" name="artwork_id" value="<%= artwork.id %>">
                <button>Watch</button>
            </form>
        <% end %>

        <%# ideally the contact would be a nice button  %>
        <p>Contact upon interest <%= artwork_seller.email %></p>

        <% if session[:user_id] == artwork_seller.id %>
            <a href="/artworks/<%= artwork.id %>/edit">Edit listing</a>
            
            <form action="/artworks/<%= artwork.id %>" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" name="id" value="<%= artwork.id %>">
                <button>Delete listing</button>
            </form>
            
        <%# ideally would have a mark as sold button here too %>
        <% end %>

    </div>

    <div class="artwork-image">
        <img src="<%= artwork.image_url %>" alt="<%= artwork.title %>">
    </div>


</main>

