<main>

    <div id="demo" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox" style="width: 70%; height: 500px;">    
            <% artworks.each_with_index do | artwork, index | %>
                <div class="carousel-item <%= "active" if index == 0 %>">
                    <a href="/artworks/<%= artwork["id"]%>">
                        <img class="d-block" src="<%= artwork["image_url"] %>" alt="<%= artwork["name"] %>">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <p><%= artwork["title"] %></p>
                        <p><%= artwork["artist"]%>, <%= artwork["year"] %></p>
                    </div>
                </div>
            <% end %>
        </div>   
        <% artworks.each_with_index do | artwork, index | %>
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        <% end %>
    </div>

</main>