<h1>main gallery</h1>

<main>
<% artworks.each do | artwork | %>
    <a href="/artworks/<%= artwork["id"]%>">
        <img src="<%= artwork["image_url"] %>" alt="<%= artwork["name"] %>">
    </a>
    <p><%= artwork["title"] %></p>
    <p><%= artwork["artist"]%>, <%= artwork["year"] %></p>

<% end %>

</main>