<h2 class="form-heading">Edit listing for <span class="aw-title"><%= artwork.title%></span> by <%= artwork.artist %> </h2>
<form action="/artworks/<%= artwork.id %>" method="post" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="put">
    <div>
        <label for="">Title</label>
        <input type="text" name="title" value="<%= artwork.title %>" required>
    </div>
    <div>
        <label for="">Artist</label>
        <input type="text" name="artist" value="<%= artwork.artist %>" required>
    </div>
    <div>
        <label for="">Artwork file</label>
        <input type="file" name="image_file">
        <img src="<%= artwork.image_url %>" alt="<%= artwork.title %>">
    </div>
    <div>
        <label for="">Year</label>
        <input type="number" name="year" value="<%= artwork.year %>" required>
    </div>
    <div>
        <label for="">Media</label>
        <input type="text" name="media" value="<%= artwork.media %>" required>
    </div>    
    <div>
        <label for="">Description</label>
        <textarea name="description" id="" cols="45" rows="10" value="<%= artwork.description %>"><%= artwork.description %></textarea>
    </div>
    <button class="btn btn-primary form-btn">Submit</button>  
</form>