<h1>Edit listing for <%= artwork.title%> by <%= artwork.artist %> </h1>
<form action="/artworks/<%= artwork.id %>" method="post">
    <input type="hidden" name="_method" enctype="multipart/form-data" value="put">
    <div>
        <label for="">Title</label>
        <input type="text" name="title" value="<%= artwork.title %>">
    </div>
    <div>
        <label for="">Artist</label>
        <input type="text" name="artist" value="<%= artwork.artist %>">
    </div>
    <div>
    <%# ideally would be able to change image file or not update the server if not changed %>
    <%# may need to blank out and redo function unless can work out how to retain original AW link  %>
        <label for="">Artwork file</label>
        <input type="file" name="image_file" value="<%= artwork.image_url %>">
        <img src="<%= artwork.image_url %>" alt="<%= artwork.title %>">
    </div>
    <div>
        <label for="">Year</label>
        <input type="number" name="year" value="<%= artwork.year %>">
    </div>
    <div>
        <label for="">Media</label>
        <input type="text" name="media" value="<%= artwork.media %>">
    </div>    
    <div>
        <label for="">Description</label>
        <input type="text" name="description" value="<%= artwork.description %>">
    </div>
    <button>Submit</button>  
</form>