
<div class="row gx-5 user-dashboard">
    <div class="col-lg-5 col-md-12">
        <section>
            <h2>Listings</h2>
            <% if user_artworks.any?%>
                <% user_artworks.each do | user_artwork |%>
                    <article class="user-aw-listing">
                        <p><span class="aw-title"><%= user_artwork["title"] %></span>, <%= user_artwork["artist"] %></p>
                        <a href="/artworks/<%= user_artwork["id"] %>">
                            <img class= "w-100 shadow-1-strong rounded mb-4" src="<%= user_artwork["image_url"] %>" alt="<%= user_artwork["title"] %>">
                        </a>
                    </article>
                <% end %>
            <% else %>
                <p>You have no current listings.</p>
            <% end %>
        </section>
    </div>
    <div class="col-lg-5 col-md-12">
        <section>
            <h2>Watching</h2>
            <% if watched_artworks.any? %>
                <% watched_artworks.each do | watched_artwork |%>
                    <article class="watched-aw">
                        <p><span class="aw-title"><%= watched_artwork["title"] %></span>, <%= watched_artwork["artist"] %></p>
                        <a href="/artworks/<%= watched_artwork["id"] %>">
                            <img class= "w-100 shadow-1-strong rounded mb-4" src="<%= watched_artwork["image_url"] %>" alt="<%= watched_artwork["title"] %>">
                        </a>
                    </article>
                <% end %>
            <% else %>
                <p>You currently have no watched pieces.</p>
            <% end %>

        </section>
    </div>
    <div class="col-lg-2 col-md-12">
        <a class="user-dashboard-anchor" href="/artworks/new">Add a listing</a>
        <a class="user-dashboard-anchor" href="/users/<%= current_user.id %>/edit">Update profile</a>
    </div>
</div>
